:root {
  --blue: #1e90ff;
  --blue01: rgb(217, 238, 249);
  --white: #ffffff;
  --gray: rgb(226 226 226);
  --gray1: #ddd;
  --gray2: #f2f2f2;
  --gray3: #f5f5f5;
  --banner01: rgb(0, 113, 155);
  --black: #000000;
  --black1: #333333;
  --moon: '🌙';
  --sun: '☀️';
}

html, body {
  background-color: var(--white);
  padding: 0;
  margin: 0;
  color: var(--black);
}

nav.menu {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  z-index: 500;
  box-shadow: 0px 4px 8px 0px #C5C5C580;
  background-color: var(--black);
}

nav a {
  text-decoration: none;
  color: var(--white);
}
nav a:hover {
  color: var(--banner01);
}


section {
  position: relative;
  padding-top: 50px;
}
section:nth-child(2n+1) {

}
section:nth-child(2n) {
  background-color: var(--gray);
}
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
#bannerSection{
  background-color: var(--banner01);
}
#bannerArea{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
#bannerArea h1 {
  font-size: 40px;
}
.banner-wrap{
  position: relative;
  width: 70%;
  color: var(--white);
}
.banner-wrap-img{
  position: relative;
  width: 30%;
  height: 300px;
}
.banner-wrap-img{
  background-image: url(../assets/banner02.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.ex-contain {
  position: relative;
  box-sizing: border-box;
  padding: 40px 0;
  border-bottom: 1px solid #565656;
}

.ex-image{
  max-width: 100%;
}

li {
  position: relative;
}
a{
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--banner01);
}

a::after {
  content: " →"; /* 箭头样式，可以自定义为您喜欢的样式 */
  /* position: absolute;
  right: -15px;
  top: 50%; */
  transform: translateY(-50%);
  opacity: 0; /* 初始不显示 */
  transition: opacity 0.3s ease;
}

a:hover::after {
  opacity: 1; /* 鼠标hover时显示箭头 */
}

div.codeArea {
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--gray1);
}

th {
  background-color: var(--gray2);
  color: var(--black1);
}

tbody tr:hover {
  background-color: var(--gray3);
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black1);
  color: var(--white);
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
}
#switchButton{
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  padding: 0px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}
#switchButton:before{
  position: absolute;
  content: '☀️';
  display: block;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
}
#switchButton.isMainColor::before {
  content: '🌙';
}

.gradient-div {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, red, black);
  background-size: 200% 100%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}